* {
    box-sizing: border-box;
    margin: 5;
}

body {
    background-color: wheat;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

.wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}